In [ ]:
import random 
health = 50
difficulty=1
potion_health=int(random.randint(25,50)/difficulty)
health=health+potion_health
print(health)

In [ ]:
import random 
hp=random.randint(10,20)
hp

In [ ]:
a=20851+92421
b=90234-4314.5
c=5678*2341
d=993/456
e=500%3
print(a,b,c,d,e)

In [ ]:
x=78
y=56
z=x+y
x=z
print(x)

In [ ]:
name=input("what is your name? ")
age=input("what is your age? ")
city=input("what city you live in? ")
love=input("what do you love? ")
print('Hi {} Your age is {} You live in {} and you love {}'.format(name,age,city,love))

In [ ]:
print('Hello world')

In [ ]:
broken_string = "Hello, I'm Anthony. What is your name?"
print(broken_string)

In [ ]:
start='I am '
age=24
end=' years old'
print(' {} {} {}'.format(start,age,end))

In [ ]:
x='happybirthday23'
x.upper()
x.capitalize()
x.title()
x.isalpha()
x.isdigit()
x.isalnum()

In [ ]:
word='liverpoolnewcastlewesthamleicester'
word[::2]
word[word.index('poo'):word.index('west'):2]

In [ ]:
name='maaz'
age=34
output='My name is {} and i am {} years old'.format(name,age)
print(output)

In [ ]:
word="antidisestablishmentarianism"
answer=word[word.index('est'):word.index('arian')]
answer

In [ ]:
mid=input("enter your emailid? ").strip()
username=mid[:mid.index('@')]
domain=mid[mid.index('@')+1:]
output='your username is {} and domain name is {}'.format(username,domain)
print(output)

In [ ]:
num1=59
num2=29
if num1>num2:
    print('Num1 is greater than Num2')
elif num1==num2:
    print('num1 is equal to num2')
else:
    print('num2 is greater')

In [ ]:
name_known=['Bob','Dan','Fan','Hen','Ram','Will','Pop','Den']
#print(len(names))

while True:
    print('Hi My name is Jarvis !')
    name=input('What is you Name?').capitalize()
    
    if name in name_known:
        print('Name is recognized')
    else:
        print('Name is not recognized')

In [ ]:
import numpy as np
arr=[[1,2,3],[4,5,6],[7,8,9]]

In [ ]:
arr

In [ ]:
arr

In [ ]:
np.array(arr)

In [ ]:
np.arange(2,20,2)

In [ ]:
np.zeros(3)

In [ ]:
np.zeros((3,3))

In [ ]:
np.ones((4,4))

In [ ]:
np.linspace(1,12,10)

In [ ]:
np.eye(4,4,2)

In [ ]:
import random
np.random.rand(4,6)

In [ ]:
np.random.randn(4,3)

In [ ]:
np.random.randint(1,9,100)

In [ ]:
ant=np.arange(0,30).reshape(5,6)
ant

In [ ]:
ant[1][2]

In [ ]:
ary=np.array(arr)
ary[0][2]

In [ ]:
bat=np.arange(23)
bat

In [ ]:
bat[1:21]

In [2]:
import numpy as np
import pandas as pd

In [ ]:
myl=['a','b','c']
num=[10,11,12]
rex=np.array([19,18,17])
dc={'g':10,'h':90,'j':30}

In [ ]:
first=pd.Series(data=myl,index=num)
first

In [ ]:
first[11]

In [5]:
from numpy.random import randn,rand

In [6]:
gh=pd.DataFrame(randn(4,4),index='A B C D'.split(),columns='11 12 13 14'.split())

In [7]:
gh

         11        12        13        14
A -0.607327 -0.935991 -0.429603 -1.750845
B -0.274687  0.865915 -0.874895  0.427233
C -1.488611 -1.108631 -0.363707  2.063338
D  0.194868  0.520224 -1.730521  0.231623

In [ ]:
gh[['13','14']]

In [ ]:
#gh['15']=gh['12']+gh['14']
gh['16']=gh['13']+gh['15']
#gh['E']=gh['A']+gh['D']

In [ ]:
gh.drop('12',axis=1,inplace=True)

In [ ]:
gh.drop('B',axis=0)

In [ ]:
gh.loc[['A','B','D']]

In [ ]:
gh.loc[['A','B','D'],['11','16','14']]

In [ ]:
gh>0

In [ ]:
gh[gh>0]

In [ ]:
gh[gh>0]

In [ ]:
gh[gh['13']>0]['14']

In [ ]:
gh[(gh['11']>0)&(gh['11']>0)]

In [ ]:
gh.reset_index()

In [ ]:
newl=randn(4,1)
newl

In [ ]:
gh['15']=newl
gh

In [ ]:
#multi_index
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
heir_index=list(zip(outside,inside))
heir_index=pd.MultiIndex.from_tuples(heir_index)
heir_index

In [ ]:
ds=pd.DataFrame(randn(6,2),index=heir_index,columns=['a','b'])
ds
#ds.loc['G1']['a'][2]
ds.loc['G2'].loc[1]['b']

In [ ]:
f={'z':[10,3,4],'x':[np.nan,4,np.nan],'c':[np.nan,89,98]}

In [ ]:
op=pd.DataFrame(f)
op

In [ ]:
op.dropna()
op.dropna(axis=1)
#op.fillna()
op.dropna(thresh=2)

In [8]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [10]:
gp=pd.DataFrame(data)
gp
gp.groupby('Company').describe().transpose()

Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000

In [3]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])
pd.concat([df1,df2,df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
pd.merge(left,right,how='right',on='key')

In [ ]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
pd.merge(left,right,how='inner',on=['key1','key2'])

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
left.join(right)

In [ ]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})

In [ ]:
df['col2'].nunique()

In [ ]:
df['col2'].value_counts()

In [ ]:
ndf=df[(df['col1']>1) & (df['col2']>=444)]
print(ndf)

In [ ]:
def times(x):
    return x**5

In [ ]:
df['col1'].apply(times)

In [ ]:
df['col3'].apply(len)
#on strings

In [ ]:
df['col1'].sum()

In [ ]:
#del df['col1']
df

In [ ]:
df.sort_values('col2',axis=0)

In [ ]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

In [ ]:
df.pivot_table(values='D',index=['A', 'B'],columns=['C'])

In [ ]:
cd C:\\Users\\munez\\OneDrive\\Documents\\Py_DS_ML_Bootcamp-master\\Refactored_Py_DS_ML_Bootcamp-master\\03-Python-for-Data-Analysis-Pandas

In [ ]:
pd.read_csv('example')

In [ ]:
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))